@model IEnumerable<StudentDetails.Models.Product>
@{
    ViewData["Title"] = "Product";
}
<h2>Product</h2>
<h4>Product</h4>
<hr />
<div>
    <a asp-action="ProductCreate" class="btn btn-primary">Add New Product</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Cost Students</th>
                <th>Stock</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Data found</td>
                </tr>
            }
            else
            {
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.ProductName</td>
                        <td>@p.ProductDescription</td>
                        <td>@p.ProductCost</td>
                        <td>@p.Stock</td>
                        <td><a asp-action="ProductUpdate" asp-route-id="@p.Id">Update</a></td>
                        <td>
                            <form asp-action="ProductDelete" method="post" asp-route-id="@p.Id">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>